* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body {
    height: 100%;
}

body {
    background-color: rgb(29, 29, 29);
    color: seashell;
}

header {
    background-image: url('/assets/images/headshot.jpg');
    background-size: cover;
    height: 100%;
}

#title {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 300px 100px 400px 100px;
}

header h1 {
    width: 50%;
    text-align: left;
    font-size: 90px;
    padding-right: 50px;
}

#intro {
    width: 50%;
    text-align: right;
    padding-left: 500px;
    font-size: 18px;
}

#intro h2 {
    font-size: 80px;
}

header nav {
    width: 100%;
    text-align: center;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color:rgb(29, 29, 29);
    font-size: 40px;
    background-color: seashell;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background-color: tan;
}